<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>BBL</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/common/common.css" />
    <link rel="stylesheet" href="css/page/admin.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
    <div id="main">
        <!--사이드메뉴-->
        <th:block th:replace="/fragments/admin/sidemenu :: sidemenu"></th:block>
        <!--컨텐츠-->
        <th:block layout:fragment="content"></th:block>
    </div><!--#main-->
</body>
</html>