<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer>
        <div class="inner">
            <div class="footer_top">
                <div class="fLink">
                    <ul>
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">제휴 및 광고문의</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">개인정보 처리방침</a></li>
                    </ul>
                </div><!--.fLink-->
                <div class="fSns">
                    <ul>
                        <li class="insta"><a href="#">인스타그램</a></li>
                        <li class="youtube"><a href="#">유튜브</a></li>
                    </ul>
                </div>
            </div><!--.footer_top-->
            <div class="footer_bottom">
                <div class="fInfo_left">
                    <p><b>BBL 고객센터 (평일 9:00 ~ 18:00)</b></p>
                    <p>Tel : 051 ) 1234 - 1234</p>
                    <p>E-mail : mrsbok@bbl.com</p>
                </div><!--.fInfo_left-->

                <div class="fInfo_right">
                    <p>(주)비비엘 │ 대표이사 : 송아람</p>
                    <p>사업자등록번호 : 123-45-67891</p>
                    <p>부산광역시 수영구 수영로 546 1005호 (광안동, 석천유토피아)</p>
                    <p>Copyright BBL Information Service, All rights reserved.</p>
                </div><!--.fInfo_right-->
            </div><!--.footer_bottom-->
        </div><!--.inner-->
    </footer>
</th:block>
</html>