<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/common/common.css" />
  <link rel="stylesheet" href="css/page/admin.css" />
</head>

<div class="index">
  <h1>BBL ADMIN</h1>
  <div class="login-box">
    <p>로그인</p>
    <form action="" method="post">
      <dl>
        <dt>아이디</dt>
        <dd><input type="text" name="id"></dd>
      </dl>
      <dl>
        <dt>패스워드</dt>
        <dd><input type="password" name="password"></dd>
      </dl>
      <button type="button">로그인</button>
    </form>
  </div><!--.login-box-->
</div>


</html>