<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/pt/head :: head"></th:block>

<body>
    <div id="app" class="inquiry">
        <header>
            <button class="btn_back" onclick="history.back();">뒤로가기</button>
            <h2>문의하기</h2>
        </header>
        <div class="container">
            <div class="inner">
                <form>
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" name="qna_title" placeholder="제목을 입력해주세요."></dd>
                    </dl>
                    <dl>
                        <dt>내용 작성</dt>
                        <dd>
                            <textarea name="후기 내용을 작성해주세요." placeholder="문의내용을 작성해주세요."></textarea>
                        </dd>
                    </dl>
                </form>
            </div>

            <div class="bottom_button_box">
                <button class="btn_save">문의하기</button>
            </div><!--.bottom_button_box-->
        </div><!--.container-->
    </div><!--.join-->

    <script>
        $(document).ready(function(){
            $("button.btn_save").click(function(){
                if(!$("input").val()){
                    alert("제목을 입력해주세요.");
                    return false;
                }

                if(!$("textarea").val()){
                    alert("내용을 입력해주세요.");
                    return false;
                }

                const data = {
                    "content" : $("textarea").val(),
                    "title" : $("input").val()
                };

                console.log(data);

                $.ajax({
                    url :  "http://43.200.31.249:80/api/trainer/writeInquiries",
                    type : "POST",
                    cache: false,
                    async: false,
                    headers:{
                        "token":token
                    },
                    contentType: "application/json",
                    data:JSON.stringify(data),
                    success:function(response){
                        console.log(response);
                        if(response.result === true){
                            alert("문의글을 작성하였습니다.");
                            location.href="/pt/qna";
                        }else{
                            alert("문의하기 실패");
                        }
                    },
                    error:function(error){
                        console.log(error);
                        alert("문의하기 실패");
                    }
                });
            });
        });
    </script>
</body>

</html>