<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/pt/head :: head"></th:block>

<body>
    <div id="app" class="regist_ex_schedule modify_ex_schdule">
        <div class="modal_wrap">
            <div class="calendar_modal modal">
                <button class="btn_close_modal">닫기</button>
                <div class="modal_inner">
                    <h3>날짜를 선택해주세요.</h3>
                    <div class="calendar_box">
                        <div class="year-month">
                            <button class="btn_prev_month">이전달</button>
                            <span>2022년 03월</span>
                            <button class="btn_next_month">다음달</button>
                        </div><!--.current_date-->
                        <div class="days">
                            <div class="day">일</div>
                            <div class="day">월</div>
                            <div class="day">화</div>
                            <div class="day">수</div>
                            <div class="day">목</div>
                            <div class="day">금</div>
                            <div class="day">토</div>
                        </div><!--.days-->
                        <div class="real_calendar"></div>
                    </div><!--.calendar_box-->
                    <button class="btn_success">완료</button>
                </div><!--.modal_inner-->
            </div><!--.calendar_modal-->

            <div class="time_modal modal">
                <button class="btn_close_modal">닫기</button>
                <div class="modal_inner">
                    <h3>시각을 선택해주세요.</h3>
                    <div class="ampm">
                        <input type="radio" name="ampm" value="am" id="am"><label for="am">오전</label>
                        <input type="radio" name="ampm" value="pm" id="pm"><label for="pm">오후</label>
                    </div><!--.ampm-->
                    <div class="time_input">
                        <input type="number" name="hours">시
                        <input type="number" name="minutes">분
                    </div>
                </div><!--.modal_inner-->
            </div><!--.time_modal-->

            <div class="delete_schedule_modal modal">
                <button class="btn_close_modal">닫기</button>
                <div class="modal_inner">
                    <h3>일정 삭제요청 전송</h3>
                    <p>회원에게 일정 삭제요청을 전송하시겠습니까?</p>
                    <div class="btns">
                        <button type="button" class="btn_cancel">취소</button>
                        <button type="button" class="btn_delete">삭제 요청</button>
                    </div><!--.-->
                </div><!--.modal_inner-->
            </div><!--.time_modal-->
        </div><!--.modal-wrap-->

        <header>
            <button class="btn_back" onclick="history.back();">뒤로가기</button>
            <h2>운동일정 수정</h2>
            <button type="button" class="btn_reset">초기화</button>
        </header>
        <div class="container">
            <div class="modify_btns">
                <button type="button" class="active" data-page="schedule">일정 수정</button>
                <button type="button" data-page="exercise">운동 수정</button>
            </div><!--.modify_btns-->

            <div class="modify_div">

            </div><!--.modify_div-->

            <div class="bottom_button_box">
                <button class="btn_delete">삭제요청</button>
                <button class="btn_send">일정 승인요청 보내기</button>
                <button class="btn_save">운동정보 저장하기</button>
            </div><!--.bottom_button_box-->
        </div><!--.container-->
    </div><!--.join-->

    <script>
        $(document).ready(function(){
            calendarInit();

            $("input[name=schedule_date]").click(function(){
                $("div.modal_wrap").css("display","flex");
                $("div.modal_wrap div.calendar_modal").css("display","block");
                $("input[name=schedule_date]").val("");
            });

            $("div.modal button.btn_close_modal").click(function(){
                $("div.modal_wrap").css("display","none");
                $("div.modal_wrap .modal").css("display","none");
            });

            $("div.calendar_modal button.btn_close_modal").click(function(){
                $("div.calendar_modal h3").removeClass("active");
                $("div.calendar_modal h3").text("날짜를 선택해주세요.");
                calendarInit();
            });

            $("input.input_time").click(function(){
                $("div.modal_wrap").css("display","flex");
                $("div.modal_wrap div.time_modal").css("display","block");
            });

            $("div.time_modal div.ampm input").on("change",function(){
                if($(this).val() === "am"){
                    $("div.time_modal h3").text("오전");
                }else{
                    $("div.time_modal h3").text("오후");
                }
            });

            $("div.time_input input").on("keydown",function(event){
                return event.key >= 0 && event.key <= 9 || event.keyCode === 8;
            });

            $("div.time_input input[name=hours]").on("keyup", function(){
                $(this).val(Number($(this).val()) > 12 ? $(this).val().substring(0,1) : $(this).val());
            });

            $("div.time_input input[name=minutes]").on("keyup", function(){
                $(this).val(Number($(this).val()) > 59 ? $(this).val().substring(0,1) : $(this).val());
            });

            $("div.modify_div").load("/pt/modify_schedule_section");

            $("div.modify_btns > button").click(function(){
                $(this).siblings().removeClass("active");
                $(this).addClass("active");

                let page = $(this).data("page");
                if(page === "schedule"){
                    $("div.modify_div").load("/pt/modify_schedule_section");
                    $("div.bottom_button_box button.btn_delete").css("display","block");
                    $("div.bottom_button_box button.btn_send").css("display","block");
                    $("div.bottom_button_box button.btn_save").css("display","none");
                }else if(page === "exercise"){
                    $("div.modify_div").load("/pt/modify_ex_section");
                    $("div.bottom_button_box button.btn_delete").css("display","none");
                    $("div.bottom_button_box button.btn_send").css("display","none");
                    $("div.bottom_button_box button.btn_save").css("display","block");
                }
            });
        });

        function calendarInit() {
            let date = new Date(); // 현재 날짜(로컬 기준) 가져오기
            let utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
            let kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
            let today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)
            let dayArr = ["일","월","화","수","목","금","토"];

            let thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate()); // 현재 달
            let currentYear = thisMonth.getFullYear(); // 현재년도
            let currentMonth = thisMonth.getMonth() + 1; // 현재달
            let currentDate = thisMonth.getDate(); // 현재날짜
            let currentDay = dayArr[thisMonth.getDay()]; // 현재요일

            // 정수의 난수 구하기
            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min)) + min; //최댓값은 제외, 최솟값은 포함
            }

            function renderCalender(newDate) {
                currentYear = newDate.getFullYear(); // 현재년도
                currentMonth = newDate.getMonth() + 1; // 현재달
                currentDate = newDate.getDate(); // 현재날짜
                currentDay = dayArr[newDate.getDay()]; // 현재요일

                $("div.year-month > span").text(currentYear + "년 " + currentMonth + "월");

                // 이전 달의 마지막 날 날짜와 요일 구하기
                let startDay = new Date(currentYear, currentMonth - 1, 0);
                let prevDate = startDay.getDate();
                let prevDay = startDay.getDay();

                // 이번 달의 마지막날 날짜와 요일 구하기
                let endDay = new Date(currentYear, currentMonth, 0);
                let nextDate = endDay.getDate();
                let nextDay = endDay.getDay();

                let calendar = $("div.real_calendar");
                calendar.html("");

                // 지난달 날짜 렌더링
                for (let i = prevDate - prevDay; i <= (prevDay !== 6 ? prevDate : 0); i++) {
                    calendar.html(calendar.html() + '<div class="date_box prev_date"></div>');
                }

                // 이번달 날짜 렌더링
                for (let i = 1; i <= nextDate; i++) {
                    calendar.html(calendar.html() + '<div class="date_box current_date' + (i === date.getDate() ? " today" : "") + '">' + '<span class="' + (i === 1 ? "first " : "") + 'date ' + i + '">' + i + '</span><div class="date_schedule"></div>' + '</div>');
                }

                // 다음달 날짜 렌더링
                for (let i = 1; i <= (nextDay === 6 ? 0 : 6 - nextDay); i++) {
                    calendar.html(calendar.html() + '<div class="date_box next_date"></div>');
                }

                $("div.date_box").click(function(){
                    if($(this).hasClass("current_date")){
                        $("div.current_date").removeClass("active");
                        $(this).addClass("active");
                        currentDate = Number($(this).find("span").text());
                        currentDay = dayArr[new Date(currentYear, currentMonth - 1, $(this).find("span").text()).getDay()];
                        $("div.calendar_modal h3").text(currentYear + "년 " + currentMonth + "월 " + currentDate + "일 (" + currentDay + ")");
                        $("div.calendar_modal h3").addClass("active");
                    }
                });
            }

            renderCalender(thisMonth);

            $("button.btn_prev_month").on('click', function () {
                thisMonth = new Date(currentYear, currentMonth - 2, currentDate);
                renderCalender(thisMonth);
                $("div.calendar_modal h3").removeClass("active");
                $("div.calendar_modal h3").text("날짜를 선택해주세요.");
            });

            $("button.btn_next_month").on('click', function () {
                thisMonth = new Date(currentYear, currentMonth, currentDate);
                renderCalender(thisMonth);
                $("div.calendar_modal h3").removeClass("active");
                $("div.calendar_modal h3").text("날짜를 선택해주세요.");
            });

            $("div.calendar_modal button.btn_success").click(function(){
                if($("div.calendar_modal h3").hasClass("active")) {
                    $("div.modal_wrap").css("display", "none");
                    $("div.modal_wrap .modal").css("display", "none");
                    let selectDate = currentYear + ". " + (currentMonth < 10 ? "0" + currentMonth : currentMonth) + ". " + (currentDate < 10 ? "0" + currentDate : currentDate);
                    $("input[name=schedule_date]").val(selectDate);
                }else{
                    alert("날짜를 선택해주세요.");
                }
            });
        }
    </script>
</body>

</html>