<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/pt/head :: head"></th:block>

<body>
    <div id="app" class="notice">

<!--        <header class="main_header">-->
<!--            <button type="button" class="btn_notification">알림 내역</button>-->
<!--            <h1 class="logo">-->
<!--                <a href="/pt"><img src="/img/common/logo.png" alt="BBL"></a>-->
<!--            </h1>-->
<!--            <button type="button" class="btn_menu">메뉴</button>-->
<!--        </header>-->
        <header>
            <button class="btn_back" onclick="history.back();">뒤로가기</button>
            <h2>BBL 공지사항</h2>
        </header>

        <div class="container">
            <div class="no_notice">공지사항이 없습니다.</div>
            <ul>

            </ul>
        </div><!--.conatainer-->

    </div><!--.manage_member_schedule-->

    <script>
        $(document).ready(function(){
            $.ajax({
                url :  "http://43.200.31.249:80/api/admin/getNotices?category=3",
                type : "post",
                cache: false,
                async: false,
                contentType:"application/json",
                headers:{
                    "token":token
                },
                success:function(response){
                    console.log(response);
                    if(response.data.length > 0){
                        $("div.no_notice").css("display","none");

                        for(let notice of (response.data).reverse()){
                            $("div.notice ul").append("<li>" +
                                "<a href='/pt/article_detail?category=notice&idx=" + notice.idx + "'>" +
                                "<p>" + notice.title + "</p>" +
                                "<span>" + notice.regDate.substring(2, 10) + "</span>" +
                                "</a>" +
                                "</li>");
                        }
                    }
                },
                error:function(error){
                    console.log(error);
                }
            });
        });
    </script>
</body>

</html>