<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/pt/head :: head"></th:block>

<body>
    <div id="app" class="qna">
        <header>
            <button class="btn_back" onclick="history.back();">뒤로가기</button>
            <h2>문의 및 답변</h2>
        </header>
        <div class="container">
            <div class="no_qna">문의내역이 없습니다.</div><!--.no_qna-->
            <ul class="qna_list">

            </ul><!--.qna_list-->

            <button type="button" class="btn_question" onclick="location.href='/pt/inquiry';">문의하기</button>
        </div><!--.container-->
    </div><!--.join-->

    <script>
        $(document).ready(function(){
            $.ajax({
                url :  "http://43.200.31.249:80/api/trainer/getInquiries",
                type : "post",
                cache: false,
                async: false,
                contentType:"application/json",
                headers:{
                    "token":token
                },
                success:function(response){
                    console.log(response);
                    if(response.result === true && response.infos.length > 0){
                        $("div.no_qna").css("display","none");

                        for(let qna of response.infos){

                            $("ul.qna_list").append("<li>" +
                                "<span class='qna_writer'>" + qna.pt_trainer_name + "트레이너</span>" +
                                "<div class='qna_info'>" +
                                "<p>" + qna.title + "</p>" +
                                "<span class='qna_date'>" + millisecondsToDate(qna.regDate) +"</span>" +
                                "</div>" +
                                "</li>");

                            if(qna.answers_content !== undefined){
                                $("ul.qna_list li:last-child").append("<div class='qna_answer'>" +
                                    "<p>[답변] " + qna.answers_content + "</p>" +
                                    "<span class='qna_date'>" + millisecondsToDate(qna.answers_date)+ "</span>" +
                                    "</div>");
                            }
                        }
                    }
                },
                error:function(error){
                    console.log(error);
                }
            });
        });
    </script>
</body>

</html>