<div class="record_box">
    <h4>총 섭취 칼로리</h4>
    <h5><b>2,400</b> kcal</h5>
    <ul class="record_list calorie_list">
        <li>
            <div class="record_list_top">
                <dl>
                    <dt>삶은 계란</dt>
                    <dd><b>400</b>kcal</dd>
                </dl>
                <span>오전 9 : 00</span>
            </div><!--.record_list_top-->
            <div class="record_list_bottom">
                200 kcal ｘ 2개
            </div>
        </li>
        <li>
            <div class="record_list_top">
                <dl>
                    <dt>국물 라면</dt>
                    <dd><b>600</b>kcal</dd>
                </dl>
                <span>오후 2 : 00</span>
            </div><!--.record_list_top-->
            <div class="record_list_bottom">
                600 kcal ｘ 1개
            </div>
        </li>
        <li>
            <div class="record_list_top">
                <dl>
                    <dt>삼겹살</dt>
                    <dd><b>600</b>kcal</dd>
                </dl>
                <span>오후 8 : 00</span>
            </div><!--.record_list_top-->
            <div class="record_list_bottom">
                1000 kcal ｘ 1인분
            </div>
        </li>
    </ul><!--.record_list-->
</div><!--.record_box-->

<div class="record_box">
    <h4>총 소모 칼로리</h4>
    <h5><b>400</b> kcal</h5>
    <ul class="record_list calorie_list">
        <li>
            <div class="record_list_top">
                <dl>
                    <dt>달리기</dt>
                    <dd><b>400</b>kcal</dd>
                </dl>
                <span>오전 9 : 00</span>
            </div><!--.record_list_top-->
            <div class="record_list_bottom">
                고강도 운동 ｘ 15분
            </div>
        </li>
        <li>
            <div class="record_list_top">
                <dl>
                    <dt>헬스</dt>
                    <dd><b>400</b>kcal</dd>
                </dl>
                <span>오후 2 : 00</span>
            </div><!--.record_list_top-->
            <div class="record_list_bottom">
                고강도 운동 ｘ 50분
            </div>
        </li>
    </ul><!--.record_list-->
</div><!--.record_box-->