<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/pt/head :: head"></th:block>

<body>
    <div id="app" class="search_center">
        <header>
            <button type="button" class="btn_close">닫기</button>
            <input type="text" name="search_center_name">
            <button type="button" class="btn_delete">지우기</button>
        </header>
        <div class="search_result">
            <div class="inner">
                <ul>
                    <li>
                        <span>바디체인지클럽</span>
                        <p>부산시 해운대구</p>
                    </li>
                    <li>
                        <span>바디체인지클럽</span>
                        <p>부산시 진구</p>
                    </li>
                </ul>
            </div>
        </div><!--.search_result-->
    </div><!--.search_center-->

    <script>

    </script>
</body>

</html>