<div class="tab_cont_inner">
<!--    <div class="review_score">-->
<!--        <h3>-->
<!--            평점 및 후기-->
<!--        </h3>-->
<!--        <dl>-->
<!--            <dt>평점 (0.0)</dt>-->
<!--            <dd>후기 0개</dd>-->
<!--        </dl>-->
<!--        <ul>-->
<!--            <li class="filled"></li>-->
<!--            <li class="filled"></li>-->
<!--            <li class="filled"></li>-->
<!--            <li class="filled"></li>-->
<!--            <li class="filled"></li>-->
<!--        </ul>-->
<!--        <button>후기 요청하기 &#62;</button>-->
<!--    </div>&lt;!&ndash;.review_score&ndash;&gt;-->

    <div class="review_section">
        <h3>후기</h3>
        <button class="btn_orderby">최신순</button>
        <ul class="review_list">
            <li>
                <div class="review_top">
                    <div class="writer_info">
                        <img src="/img/pt/review_thumbnail.png">
                        <span>홍길동</span>
                        <p>2022.03.04</p>
                    </div><!--.writer_info-->
                    <div class="review_star">
                        <span class="filled"></span>
                        <span class="filled"></span>
                        <span class="filled"></span>
                        <span></span>
                        <span></span>
                    </div><!--.review_star-->
                </div><!--.review_top-->
                <div class="review_photos">
                    <img src="/img/pt/trainer_photo05.png">
                    <img src="/img/pt/trainer_photo05.png">
                    <img src="/img/pt/trainer_photo05.png">
                </div><!--.review_photos-->
                <div class="review_content">
                    너무 만족합니다. 남들보다 부족한 근육량을 가지고 있지만
                    있어보이게 근육을 만들어주며 최선의 결과를 위해 함께
                    노력해주는 트레이너 선생님 덕분에 건강한 몸을 되찾을 수 있게
                    되었습니다.<br>
                    <br>
                    평소 허리가 좋지 않고, 라운드숄더와 어깨비대칭이 심한
                    상태여서 상담을 통해 저에게 맞는 근력운동과 교정운동을
                    병행하는 수업과 식단을 진행하며 다이어트를 하였습니다.
                    식단도 제가 맞게 체계적으로 짜주시며 최대한 식단에 스트레스
                    안 받도록 도와주셨습니다.<br>
                    <br>
                    수업도 동작 하나하나 디테일하게 설명해주고 잘못된 부분은
                    고칠 수 있게 알려주고, 잘하고 있는 것은 칭찬해주며 운동하는
                    재미를 알려주어 바디프로필 준비까지 했습니다.
                    제 몸의 장점은 부각해주고 단점은 보완하는 수업으로 멋진
                    바디라인을 만들 수 있었습니다.
                </div><!--.review_content-->
            </li>
        </ul><!--.review_list-->
    </div><!--.review_section-->
</div><!--.tab_cont_inner-->

<script>
    $(document).ready(function (){
        // 후기 조회
        $.ajax({
            url :  "http://43.200.31.249:80/api/trainer/getUserNoteDetail",
            type : "post",
            cache: false,
            async: false,
            headers:{
                "token":token
            },
            success:function(response){
                console.log(response);
                if(response.data.userNote.length > 0){
                    for(let review of response.data.userNote){

                    }
                }
            },
            error:function(error){
                console.log(error);

            }
        });

    });
</script>
